body{
    background-color: #000000;
        font-family: "Raleway", sans-serif;
}


.banner{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(imagens/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}

.banner-content h1{
    letter-spacing: -4px;
}

.banner p{
    text-align: center;
    font-size: 25px;
}

.banner .logo img {
    margin-left: 500px;
    object-fit: contain;
    width: 300px;
    height: 200px;
}

.banner .banner-content button {
    color: #31A8DD;
    margin-top: 15px;
    margin-left: 490px;
    margin-bottom: 75px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
}

.banner h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

#course-content h2{
    text-align: center;
}

#course-content p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;

}

span{
    color: #2483c7;
}

.module{
    text-align: center;
}

h2{
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
    
}

p{
    color: #FFFFFF;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Raleway", sans-serif;
}

#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgb(0 0 0 / 70%);
}

section{
    margin: 100px auto;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33a8db;
}
#transform-world{
    height: 150px;
    background-image: url(imagens/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

#professional-challenges img{
    background-attachment: fixed;
    margin-left: 300px;
}

#professional-challenges h2{
    text-align: center;
}

#professional-challenges p{
    text-align: center;
    font-size: 18px;
}

footer{
    border-top: 1px solid #1472B7 ;
    padding: 60px 0px;
    text-align: center;
    background: linear-gradient(rgba(58, 168,219, .0), rgba(50, 168,219, .2));
}